<ion-view view-title="登陆" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="goBack()">返回</button>
		</div>
		<h1 class="title">登录</h1>
		<div class="buttons">
			<button class="button button-clear" ui-sref="auth.register">注册</button>
		</div>
	</ion-header-bar>
	<ion-content overflow-scroll="false">
		<div class="t_login_user">
			<img ng-src="{{spContent.headimg || 'vricon.png'}}">
		</div>
		<div class="t_login_count">
			<div class="list list-inset">
				<label class="item item-input">
					<i class="iconfont icon-geren2 placeholder-icon"></i>
					<input type="text" ng-model="login.mobile" placeholder="请输入手机号码">
				</label>
				<label class="item item-input">
					<i class="iconfont icon-mima1 placeholder-icon"></i>
					<input type="password" ng-model="login.password" ng-enter="login()" placeholder="请输入登录密码">
				</label>
			</div>
			<div class="padding">
				<button class="button button-block button-calm" style="width: 100%;" ng-click="login()">登录</button>
			</div>
			<div class="foget clearfix">
				<span class="foget-psd" ui-sref="auth.resetPsd">忘记密码？</span>
				<span class="agree"><i  ng-class="agree == true ? 'ion-android-checkbox' : 'ion-android-checkbox-outline-blank'"  ng-click="authAgree()"></i>我已阅读并同意<a ng-click="showAgreement($event)">【用户注册协议】</a></span>
			</div>
		</div>
		<!--ng-click='wechatlogin()'-->
		<!--<h5 style="color: #999;font-size: 12px;text-align: center;">其它登录方式</h5>-->
<!--<div  class="otherLogin">
	<a style="cursor: pointer;">
		<img ng-src="img/wechatLogo.png" style="cursor: pointer;" ng-click='wechatlogin()' />
	</a>
</div>-->
	</ion-content>
</ion-view>