<ion-view view-title="详情" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">{{details.title||'详情'}}</h1>
		<div class="buttons">
			<button class="button  button-clear" ng-click="shareArticle()">分享</button>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal shuyuandetail" >
  
  	   <!--<h4>{{details.title}}</h4>
  	   <h5><span>{{details.author}}</span> <i>{{details.createtime}}</i> </h5>-->
  <div id='detailintro'>
  	
  </div>
	</ion-content>
</ion-view>