<ion-view view-title="添加地址" hide-nav-bar="true">
	<div >
		<ion-header-bar class="bar-calm header-back">
			<div class="buttons">
				<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
			</div>
			<h1 class="title">添加地址</h1>
		</ion-header-bar>
		<ion-content class="bodybg-normal">
			<div class="yd-donate-count real-count s-apply-c">
				<ul>
					<li>
						<label>收货人</label>
						<input type="text" placeholder="请输入收货人" ng-model="addaddress.userName">
					</li>
					<li>
						<label>联系方式</label>
						<input type="text" placeholder="请输入联系方式" ng-model="addaddress.mobile">
					</li>
					<li class="flex" ng-click="areaShow()">
						<p class="flex_1">选择地址</p>
						<span ng-bind="up.userInfo.area||'点击选择'"></span>
						<i class="iconfont icon-right"></i>
					</li>
					<li>
						<label>详细地址</label>
						<input type="text"  placeholder="请输入详细地址" ng-model="addaddress.address">
					</li>
					<li>
						<label ng-if='addaddress.isDefault=="0"' ng-click='choisDefault(addaddress.isDefault)' style="width:20px;height:20px;border-radius: 50%;border: solid 1px #f50;margin-top: 5px;"></label>
						<label ng-if='addaddress.isDefault=="1"' ng-click='choisDefault(addaddress.isDefault)'>
							<i class="icon ion-ios-checkmark-empty" style="background: #f50;color: #fff;border-radius: 50%;display: block;height:20px;width: 20px;line-height:15px;text-align: center;font-size: 25px;margin-top: 5px;"></i>
						</label>
						<input type="text" style="background: #fff;padding-left: 30px;" value="设为默认地址" disabled="">
					</li>
				</ul>
			</div>
<button class="button button-calm" style="width: 100%;margin-top: 20px;" ng-click="submit()">提交</button>
		</ion-content>
		<!--<ion-footer-bar>
			<button class="button button-calm" style="width: 100%;" ng-click="submit()">提交</button>
		</ion-footer-bar>-->
	</div>

</ion-view>