<ion-view view-title="余额转出" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">余额转账</h1>
		<div class="buttons">
			<!--<button class="button button-clear" ui-sref="user.repoList" ng-if="agentInfo.from != 'agent'">提现记录</button>-->
			<button class="button button-clear" ui-sref='user.balanceOutRecord'>转账记录</button>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<!--<div class="yd-donate-text padding" ng-bind-html="info.message"></div>-->
		<div class="yd-donate-count real-count">
			<ul>
				<!--<li ng-click="showBean = !showBean">-->
				<!--<div class="flex beanType">-->
				<!--<p class="flex_1">回购类型</p>-->
				<!--<span>{{showDropType}}<i class="iconfont icon-unfold right-color" ng-if="showBean"></i><i class="iconfont icon-right right-color" ng-if="!showBean"></i></span>-->
				<!--</div>-->
				<!--<div class="bean" ng-hide="!showBean">-->
				<!--<p ng-click="beanType(1,'普通信使豆')">普通信使豆</p>-->
				<!--<p ng-click="beanType(2,'待缴税信使豆')">待缴税信使豆</p>-->
				<!--</div>-->
				<!--</li>-->
				<!--<li class="flex">
					<p class="flex_1">兑换类型</p>
					<span>积分</span>
				</li>-->
				<li class="flex" ng-if="agentInfo.from != 'agent'">
					<p class="flex_1">账户{{globalInfo.nounInfo.BALA}}</p>
					<span>{{info.userBalance}}</span>
				</li>
				<!--<li class="flex">
					<p class="flex_1">可转出金额</p>
					<span>{{info.priceNum}}</span>
				</li>-->
				<!--<li class="repo" ng-if='globalInfo.user.isShop==0&&globalInfo.user.isAgent==0'>
					<label>商家账号</label>
					<input type="text" placeholder="请输入商家账号" ng-model="info.shopAccount">
				</li>-->
				<!--<li class="flex" data-tap-disabled='true' ng-if="agentInfo.from != 'agent'">
					<p class="flex_1">到账时间</p>
					<select ng-model="info.selecedType">
							<option ng-repeat="x in category" value="{{x.id}}">{{x.title}}</option>
						</select>
				</li>-->
                <li class="repo">
					<!--<label ng-if='globalInfo.user.isShop==0&&globalInfo.user.isAgent==0'>兑换金额</label>-->
					<!--<label ng-if='globalInfo.user.isShop!=0||globalInfo.user.isAgent!=0'>提现金额</label>-->
					<label>对方账户</label>
					<input type="text" placeholder="请输入对方账户" ng-model="info.userMobile">
				</li>
				<li class="repo">
					<!--<label ng-if='globalInfo.user.isShop==0&&globalInfo.user.isAgent==0'>兑换金额</label>-->
					<!--<label ng-if='globalInfo.user.isShop!=0||globalInfo.user.isAgent!=0'>提现金额</label>-->
					<label>转账金额</label>
					<input type="text" placeholder="请输入数量" ng-model="info.num">
				</li>
				<!--<li class="repo">
					<label>支付密码</label>
					<input type="password" placeholder="请输入支付密码" ng-model="info.passwords">
				</li>-->
				<li class="flex" >
					<p class="flex_1">注：转出需要支付{{info.fee_rate}}%手续费</p>
				</li>
			</ul>
			<div class="padding sure-btn">
				<button class="button button-block button-calm" ng-click="submit()">确定</button>
			</div>
		</div>
	</ion-content>
</ion-view>