<ion-view view-title="明细" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">有效期明细</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal lovesdetail">
		<div class="common-empty" ng-if='loveslist==""'>
			什么也没有
		</div>
		<dl ng-if='loveslist!=""' ng-repeat='item in loveslist'>
			<!--<dt ng-if='item.addTime!=""'>{{item.addTime*1000| date:"yyyy年MM月"}}</dt>-->
			<dd style="display: flex;align-items: center;">
				<div class="flexG_1">
					<h5>有效期：{{item.month}}</h5>
				<b>{{item.update_time*1000| date:"MM-dd HH:mm:ss"}}</b>
				</div>
				<div class="flexG_0" style="text-align: right;">
					<p >{{item.heart}}</p>
				<!--<p ng-if="item.type ==2">-{{item.num}}</p>-->
				<b ng-if='item.all_num>0'>当前{{globalInfo.nounInfo.LOVE}}:{{item.all_num||0}}</b>
				</div>
			</dd>

		</dl>
<!--<ion-infinite-scroll ng-if="!noMore" on-infinite="loadMore()" distance="1%" immediate-check="false">
		</ion-infinite-scroll>-->
		<!--<ion-label></ion-label>-->
	</ion-content>
</ion-view>