<ion-view view-title="明细" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">{{globalInfo.nounInfo.LOVE}}明细 </h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal lovesdetail">
		<div class="common-empty" ng-if='loveslist==""'>
			什么也没有
		</div>
		<dl ng-if='loveslist!=""' ng-repeat='item in loveslist'>
			<dt ng-if='item.addTime!=""'>{{item.addTime*1000| date:"yyyy年MM月"}}</dt>
			<dd style="display: flex;align-items: center;">
				<a ng-if="item.type ==1" class="flexG_0">收</a>
				<a ng-if="item.type ==2" class="flexG_0" style="background:#11c1f3;">支</a>
				<div class="flexG_1">
					<h5>{{item.reMark}}</h5>
				<b>{{item.createTime*1000| date:"MM-dd HH:mm:ss"}}</b>
				</div>
				<div class="flexG_0" style="text-align: right;">
					<p >{{item.num}}</p>
				<!--<p ng-if="item.type ==2">-{{item.num}}</p>-->
				<b ng-if='item.all_num>0'>当前{{globalInfo.nounInfo.LOVE}}:{{item.all_num||0}}</b>
				</div>
			</dd>

			<!--<dd ng-if="item.type ==2">
				<a>支</a>
				<h5>{{item.reMark}}</h5>
				<p>{{item.createTime*1000| date:"MM-dd HH:mm:ss"}}</p>
				<b>+{{item.num}}</b>
			</dd>-->
		</dl>
<ion-infinite-scroll ng-if="!noMore" on-infinite="loadMore()" distance="1%" immediate-check="false">
		</ion-infinite-scroll>
		<!--<ion-label></ion-label>-->
	</ion-content>
</ion-view>