<ion-view view-title="我的消息" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">我的消息</h1>
	</ion-header-bar>
	<div class="bar bar-subheader" style="padding: 0;">
		<div class="row">
			<div class="col" ng-click="active(1)" ng-class="{'active': select == 1}">全部</div>
			<div class="col" ng-click="active(2)" ng-class="{'active': select == 2}">订单</div>
			<div class="col" ng-click="active(3)" ng-class="{'active': select == 3}">提现</div>
			<div class="col" ng-click="active(4)" ng-class="{'active': select == 4}">通知</div>
		</div>
	</div>

	<ion-content class="bodybg-normal" on-swipe-right="onSwipe('r', select)" on-swipe-left="onSwipe('l', select)">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>

		<div class="s-empty"></div>
		<div class="common-empty" ng-if="orderEmpty">什么也没有...</div>
		<div class="yd-mesg-coutent" ng-if="!orderEmpty">
			<ul>
				<li class="clearfix" ng-repeat="item in allNotice" ng-click="toUrl(item.id, item.linkUrl.param.type)">
					<h3>{{item.title}}</h3>
					<div class="flex bottom"><p class="flex_1">{{item.createtime*1000 | date:'yyyy-MM-dd HH:mm'}}</p><span>状态:<em ng-class="item.status == 1 ? 'positive': ''">{{statusName[item.status]}}</em></span></div>
				</li>
			</ul>
		</div>

		<ion-infinite-scroll ng-if="noMore" on-infinite="loadMore()" distance="1%" immediate-check="false">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
