<ion-view title="订单列表" hide-nav-bar="true" hide-back-button="true">

	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">订单列表</h1>
	</ion-header-bar>

	<ion-content class="bodybg-normal">
		<div class="shop-order-list">
			<ul>
				<li ui-sref="shop.orderConfirm">
					<a href="javascript:">
						<div class="flex"><p class="flex_1">订单编号：</p><span>2017-1-1</span></div>
						<div class="flex bottom"><p class="flex_1">支付金额</p><span>状态：<em class="positive">拒绝</em></span></div>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
