<ion-view view-title="签到" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">签到</h1>
	</ion-header-bar>


	<ion-content class="bodybg-normal" style="background: #f7af25;">
		<div style="height:35vh">
			<img src="img/qiandao_intro.jpg" alt="" style="width:100%;height:100%">
		</div>

		<div style="background: #eaaf88;">
				<div style="" id="calendar" ></div>
		</div>
        

	</ion-content>
</ion-view>
