<ion-view view-title="安全设置" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">安全设置</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<ul class="t_mess_list">
			<li ui-sref="user.loginPsw({type:1})">
				<a href="javascript:;" class="flex">
					<b class="ion-locked assertive"></b>
					<h3 class="flex_1">修改登录密码</h3>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>
			<li ui-sref="user.loginPsw({type:2})">
				<a href="javascript:;" class="flex">
					<b class="ion-ios-compose assertive"></b>
					<h3 class="flex_1">修改支付密码</h3>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>
			<li ui-sref="user.resetPayWord">
				<a href="javascript:;" class="flex">
					<b class="ion-ios-compose assertive"></b>
					<h3 class="flex_1">忘记支付密码</h3>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>
			<li ui-sref="user.changeMobile">
				<a href="javascript:;" class="flex">
					<b class="ion-ios-compose assertive"></b>
					<h3 class="flex_1">换绑手机号</h3>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>
			<li ng-click="getUpdate()" >
				<a href="javascript:" class="flex">
					<b class="ion-upload calm"></b>
					<h3 class="flex_1">监测版本</h3>
					<p>当前版本号{{version}}</p>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>
		</ul>
		<!--<ul class="t_mess_list">-->
			<!--<li ui-sref="user.news">-->
				<!--<a href="javascript:;" class="flex">-->
					<!--<b class="ion-chatboxes calm"></b>-->
					<!--<h3 class="flex_1">消息中心</h3>-->
					<!--<i class="ion-ios-arrow-right t_arrow_right"></i>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref="user.userHelp">
				<a href="javascript:;" class="flex">
					<b class="ion-chatbubbles calm"></b>
					<h3 class="flex_1">用户帮助</h3>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>-->
			<!--<li ui-sref="version">-->
				<!--<a href="javascript:;" class="flex">-->
					<!--<b class="ion-clipboard calm"></b>-->
					<!--<h3 class="flex_1">版本说明</h3>-->
					<!--<i class="ion-ios-arrow-right t_arrow_right"></i>-->
				<!--</a>-->
			<!--</li>-->

			<!--<li ui-sref="user.aboutUs">
				<a href="javascript:;" class="flex">
					<b class="ion-happy-outline calm"></b>
					<h3 class="flex_1">关于我们</h3>
					<i class="ion-ios-arrow-right t_arrow_right"></i>
				</a>
			</li>-->
		<!--</ul>-->
	</ion-content>

	<ion-footer-bar>
		<button class="button button-calm"  ng-click="logout()" style="width: 100%;background:#EC0005;">安全退出</button>
	</ion-footer-bar>
</ion-view>

