<ion-view view-title="赠品券转出" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">赠品券转出</h1>
		<div class="buttons">
			<button class="button button-clear" ui-sref="user.whiteIntegralOutRecord">转出记录</button>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<div class="yd-donate-count real-count">
			<ul>
				<li ng-click="showBean = !showBean">
				<div class="flex beanType">
				<p class="flex_1">转账类型</p>
				<span>{{info.exTitle}}<i class="iconfont icon-unfold right-color" ng-if="showBean"></i><i class="iconfont icon-right right-color" ng-if="!showBean"></i></span>
				</div>
				<div class="bean" ng-hide="!showBean">
				<p ng-click="choType(1,'转到{{globalInfo.nounInfo.LOVE}}')">转到{{globalInfo.nounInfo.LOVE}}</p>
				<p ng-click="choType(2,'转出到对方')">转到对方赠品券</p>
				</div>
				</li>
				<li class="flex" ng-if="agentInfo.from != 'agent'">
					<p class="flex_1">账户赠品券</p>
					<span>{{info.integral}}</span>
				</li>
				<li class="repo" ng-if='info.exType==2'>
					<label>对方账户</label>
					<input type="text" placeholder="请输入对方账户" ng-model="info.userMobile">
				</li>
				<li class="repo">
					<label>转出数量</label>
					<input type="text" placeholder="请输入数量" ng-model="info.num">
				</li>
				<li class="flex" ng-if='info.exType==1'>
					<p class="flex_1">注：转出需要支付{{info.selffee}}%手续费</p>
				</li>
				<li class="flex" ng-if='info.exType==2'>
					<p class="flex_1">注：转出需要支付{{info.otherfee}}%手续费</p>
				</li>
				<!--<li class="flex" >
					<p class="flex_1">注：转出需要支付{{info.fee_rate}}%手续费</p>
				</li>-->
			</ul>
			<div class="padding sure-btn">
				<button class="button button-block button-calm" ng-click="submit()">确定</button>
			</div>
		</div>
	</ion-content>
</ion-view>