<ion-view title="活动规则" hide-nav-bar="true" hide-back-button="true">

	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">活动规则</h1>
	</ion-header-bar>

	<ion-content>
    <div class="list">
      <div class="item">
        <!--<img src="mcfly.jpg">-->
        <h2>{{articlesdetail.title}}</h2>
        <!--<p>{{articlesdetail.article.createtime}}</p>-->
      </div>

      <div class="item item-body">
        <!--<img class="full-image" src="delorean.jpg">-->
        <p  class="activeadricle">
        </p>
        <!--<p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>-->
      </div>

    </div>
	</ion-content>
</ion-view>
