<ion-view view-title="支付" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">支付</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<div class="co-pay">
			<div class="integralpay">
				<!--<h4 ng-if='exchange.mode==1'>￥{{exchange.money}}</h4>-->
				<h4>￥{{exchange.factMoney}}</h4>
				<!--<h6 class="exchange-payLoves" ng-if='exchange.mode==2'><span>{{globalInfo.nounInfo.LOVE}}：</span><input type="text" placeholder="输入使用的数量" ng-change='judgeLove()' ng-model='exchange.loveNum'/></h6>
				<h6 class="exchange-payLoves" ng-if='exchange.mode==1'><span>{{globalInfo.nounInfo.LOVE}}：</span><input type="text" style="background: #fff;" disabled ng-model='exchange.credit'/></h6>
				<p ng-if='exchange.mode==2'>兑换方式：自由组合,{{globalInfo.nounInfo.LOVE}}可用100%({{exchange.useLove}})</p>
				<p ng-if='exchange.mode==1'>兑换方式：{{globalInfo.nounInfo.LOVE}}{{exchange.credit}}+￥{{exchange.money}}</p>
				<p>可用{{globalInfo.nounInfo.LOVE}}：{{exchange.loves}}</p>-->
				<div>
					<h5><i class="iconfont icon-qianbao"></i><span>{{globalInfo.nounInfo.BALA}}</span> 
						<a ng-click='showbalance()'>{{exchange.userBalance}}
							<img src="img_ad/downarrow.png" ng-if='showbalances=="bala"'/>
							<img src="img_ad/uparrow.png" ng-if='showbalances!=="bala"'/>
					</a> </h5>
					<ul ng-if='showbalances=="bala"'>
						<!--<li><a ng-click="getCode()" ng-disabled = 'getCaptchaSuccess'>
							<span ng-if="!getCaptchaSuccess">获取验证码</span>
							<span ng-if="getCaptchaSuccess">重新获取{{exchange.number}}s</span>
						</a>
							<span>验证码：</span><input type="text" placeholder="请输入验证码" ng-model='exchange.code'/>
						</li>-->
						<li>
							<p>
								<a ui-sref='user.resetPayWord'>忘记密码</a><span>支付密码：</span>
								<input type="password" placeholder="请输入支付密码" ng-model='exchange.passwords' /></p>
							<p>(注：默认支付密码与登录密码一致)</p>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if='showbalances=="pay"'>其它支付方式</div>
			<ul ng-if='showbalances=="pay"'>
				<li class="flex" ng-click="selectPayType('wechat')">
					<img src="img/wechat_pay.png" />
					<div class="co-pay-info flex_1">
						<h4>微信支付</h4>
						<p>亿万用户选择，更快更安全</p>
					</div>
					<i class="iconfont" ng-class="{'icon-roundcheckfill checked': payType == 'wechat', 'icon-round': payType != 'wechat'}"></i>
				</li>
				<li class="flex" ng-click="selectPayType('alipay')">
					<img src="img/ali_logo.png" />
					<div class="co-pay-info flex_1">
						<h4>支付宝</h4>
						<p>数亿用户都在使用，安全可托付</p>
					</div>
					<i class="iconfont " ng-class="{'icon-roundcheckfill checked': payType == 'alipay', 'icon-round': payType != 'alipay'}"></i>
				</li>
				<li class="flex" ng-click="selectPayType('qrcode')" ng-if='showrecharge'>
					<img src="img/paycodelogo.png" />
					<div class="co-pay-info flex_1">
						<h4>扫码付款</h4>
						<p>数亿用户都在使用，安全可托付</p>
					</div>
					<i class="iconfont " ng-class="{'icon-roundcheckfill checked': payType == 'qrcode', 'icon-round': payType != 'qrcode'}"></i>
				</li>
				<!--<li class="flex" ng-click="selectPayType('credit')">
					<img src="img/xianxia.png"/>
					<div class="co-pay-info flex_1">
						<h4>手动打款</h4>
						<p>线下付款</p>
					</div>
					<i class="iconfont" ng-class="{'icon-roundcheckfill checked': payType == 'credit', 'icon-round': payType != 'credit'}"></i>
				</li>-->
			</ul>
		</div>
		<button ng-if='showbalances=="bala"' class="button button-block button-calm zl_btn_center" style="margin-top: 40px;" ng-click="balanceConfirm()">确认支付</button>
		<button ng-if=' showbalances=="pay" ' class="button button-block button-calm zl_btn_center" style="margin-top: 40px;" ng-click="orderConfirm()">确定</button>
		<!--<button ng-if='showbalances=="inte" ' class="button button-block button-calm zl_btn_center" style="margin-top: 40px;" ng-click="orderConfirm()">确定</button>-->
		<!--<div class="qrcodetype">
			<div>
				<a ng-click='codetype( "wechat") '>微信</a>
			<a ng-click='codetype( "alipay") '>支付宝</a>
			</div>
		</div>-->
	</ion-content>
</ion-view>