<ion-view view-title="我的收货地址" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">收货地址</h1>
		<div class="buttons">
			<button class="button ion-plus button-clear" ui-sref='integral.addaddress'>添加地址</button>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<ion-list>
			<ion-item class="item-avatar item-icon-right" ng-repeat="item in addressList" ng-click="selectAddress(item)">
				<img src="img_ad/location2.png">
				<h3 >{{item.username}} <span ng-bind="item.mobile"></span></h3>
				<p>{{item.birth}}{{item.address}}</p>
				<i class="icon ion-ios-checkmark-outline balanced" ng-if="isDefault == item.id"></i>
				<!--<ion-option-button class="button-positive ion-ios-trash-outline" style="font-size: 35px;" ng-click="removeAddress(item.id)"></ion-option-button>-->
			</ion-item>
		</ion-list>
		
	</ion-content>
	<!--<ion-footer-bar>
		<button class="button button-calm" style="width: 100%;" ng-click="submit()">确定</button>
	</ion-footer-bar>-->
</ion-view>