<ion-view view-title="个人中心" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-calm header-my">
		<!--<div class="buttons" ui-sref="user.center">
			<button class="button iconfont icon-shezhi button-clear button-icon-size "></button>
		</div>-->
		<h1 class="title">我的</h1>
		<div class="buttons" ng-click="myscan()">
			<i class="button iconfont icon-saoyisao button-clear" style="font-size: 16px;"></i>
		</div>
		<!--<div ng-click="showMsg()">
		<button class="button iconfont icon-alarm button-clear " style="position: absolute;right: 15px;top: 5px; "></button>
			<span class="yd-xtmsgNum " ng-if="msgNum"></span>
		</div>-->
	</ion-header-bar>
	<ion-content class="bodybg-normal my_upgrade">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
		<div style="background:url('img/my_header_bg.png')">
			<div class="t_user_message flex" ui-sref="user.center ">
				<div class="img">
					<img ng-src="{{globalInfo.user.avatar||'img/headimg.jpg'}}">
				</div>
				<div class="flex_1 txt">
					<h2 class="text-overflow_1" ng-style="{ 'margin-bottom' : globalInfo.data.cityBirth !='' ? '5px' : '10px'} ">{{globalInfo.user.nickname|| '我的昵称'}}</h2>
					<p class="text-overflow_1">
						<span ng-bind='levelName[globalInfo.user.isAmbass]'></span> &nbsp;&nbsp;
						<span ng-if='globalInfo.user.isAmbass != 0'>{{globalInfo.user.passtime*1000 | date:'yyyy-MM-dd'}}到期</span>
						<span ng-bind='agentName[globalInfo.user.agentLevel]'></span>
					</p>
					<p class="text-overflow_1">当日剩余最大支付额度：{{globalInfo.user.mostCost}}元</p>
				</div>
				<i class="ion-ios-arrow-right"></i>
			</div>
			<div class="my-header">
				<div ui-sref='my.balanceindex'>
					<!-- <div href="#/my/balanceindex" class=""> -->
					<img src="img/my_header_balance.png" />
					<span>{{globalInfo.nounInfo.BALA}}
						<!--(<b>{{counts.integral}}</b>)-->
					</span>
					<!-- </div> -->
				</div>
				<div ui-sref='user.cost-balance' ng-if='userInfo.disRatio>0'>
					<img src="img/my_header_cost.png" />
					<span>代金券
					</span>
				</div>
				<div ui-sref='user.loves'>
					<img src="img/my_header_love.png" />
					<span>{{globalInfo.nounInfo.LOVE}}
					</span>
				</div>
				<div ui-sref="user.whiteIntegral">
					<img src="img/my_header_stock.png" />
					<span>赠品券</span>
				</div>
			</div>
		</div>
		<h4 class="my-nav">订单管理</h4>
		<div class="list-my">
			<a ui-sref='my.my-order'>
				<img src="img/3.png" />我的订单
			</a>
			<a href="#/my/taoOrder">
				<img src="img_ad/dingdan.png" />推广订单
			</a>
			<a href="#/my/taoProfit">
				<img src="img_ad/tixianxinxi.png" />我的收益
			</a>
			<a>
				<!--<img src="img_ad/tixianxinxi.png" />我的收益-->
			</a>
		</div>
		<hr />
		<h4 class="my-nav">功能菜单</h4>
		<div class="list-my">
			<!--<a ng-click="scan() ">
				<img src="img_ad/saoyisao.png " /> 扫一扫
			</a>-->
			<!--<a ui-sref='my.consume'>
				<img src="img_ad/jinri.png " />我的消费
			</a>-->
			<!--<a ui-sref='my.my-order'>
				<img src="img/3.png" />我的订单
			</a>-->
			<a href="#/my/collection">
				<img src="img_ad/collect.png" />我的收藏
			</a>
			<a href="#/my/team">
				<img src="img_ad/team.png" />我的粉丝
			</a>
			<!--<a ui-sref='user.loveunion'>
				<img src="img/6.png" /> {{globalInfo.nounInfo.AXLM}}
			</a>-->
			<a ui-sref='user.shareregsiter'>
				<img src="img/7.png" /> 分享好友
			</a>
			<a href="#/my/recommend">
				<img src="img/8.png" />注册码
			</a>
			<a ui-sref='user.costbalanceRecharge'>
				<img src="img/5.png" />申请创客
			</a>
			<a ng-click="agentCheck()">
				<img src="img/areaagent.png" />申请代理
			</a>
			<a ui-sref='user.agentCenter' ng-if="globalInfo.user.isAgent!='0'">
				<img src="img/indexunion.png " />代理中心
			</a>
			<a ui-sref='shops.shop'>
				<!--<div ng-if="globalInfo.user.isShop> 0" ui-sref="shops.center">
		<img src="img_ad/shangjiazhognx.png" /> 店铺管理
		</div>-->
				<!--<div ng-if="globalInfo.user.isShop == 0" ng-click="toApply()">-->
				<img src="img_ad/wdeyaoqing.png" /> 店铺管理
				<!--</div>-->
			</a>
		</div>
		<hr />
		<!--<h4 class="my-nav">公益商城</h4>
		<div class="my-serve">
			<a ui-sref='poorson.recknow()'>
				<img src="img/11.png" /> 推荐
			</a>
			<a ui-sref='poorson.list({fromPage:"goods"})'>
				<img src="img/12.png" /> 捐助
			</a>
			<a ui-sref='poor.home({from:"my"})'>
				<img src="img/14.png" /> 公益商城
			</a>
			<a href=""></a>
		</div>-->
		<!--<h4 class="my-nav">活动商城</h4>
		<div class="my-serve">
			<a ui-sref='cf.home'>
				<img src="img_ad/zhongchoulogo.png" />众筹
			</a>
			<a ui-sref='db.home'>
				<img src="img_ad/duobaologo.png" />夺宝
			</a>
			<a ui-sref='integral.luckdraw' ng-if='userInfo.gameSwitch2=="1"'>
				<img src="img_ad/luckdraw.png" />抽奖活动
			</a>  
			<a ui-sref='user.turntable' ng-if='userInfo.gameSwitch1=="1"'>
				<img src="img_ad/turntableLogo.png" />大转盘
			</a>
		</div>-->
		<h4 class="my-nav">资讯服务</h4>
		<div class="my-serve">
			<a ui-sref='user.newsactive({type:"news"})'>
				<img src="img/15.png" /> 新闻动态
			</a>
			<a ui-sref='user.sandeacademy'>
				<img src="img/16.png" /> {{globalInfo.nounInfo.BJSY}}
			</a>
			<a ui-sref='user.newsactive({type:"notice"})'>
				<img src="img/17.png" /> 平台公告
			</a>
			<a href="#/user/myMessage">
				<img src="img/18.png" /> 消息中心
			</a>
			<!--<a href="#/my/aboutvr">
				<img src="img_ad/aboutus.png" /> 关于我们
			</a>-->
			<a ui-sref='my.helplist'>
				<img src="img/19.png" /> 帮助中心
			</a>
			<a ng-click='mycontactserve()'>
				<img src="img/20.png" /> 联系客服
			</a>
			<a ui-sref='user.safesetting'>
				<img src="img/avatar.jpg " />安全设置
			</a>
			<a href=""></a>
			<!--<ion-label></ion-label>-->
		</div>
		<hr />
		<!--<dl ng-if='goodisshow' class="tabmy">
			<dt>
				<span>
					<i class="icon ion-android-favorite"></i>
				</span> 线上热销</dt>
			<dd ng-repeat='item in goodsList' ui-sref='goods.onlinegoodsInfo({id:item.id})'>
				<img ng-src='{{item.thumb||"img/goodsLogo.png"}}'>
				<div>
					<h5>{{item.goodsName}}</h5>
					<div style="padding:0">
						<b >￥{{item.spe_price}}</b>
						<em>最近销量{{item.sales}}</em>
						</div>
					</div>
			</dd>
		</dl>-->
		<!--<div class="commonend-empty" ng-if="!noMore">
			没有更多了..
		</div>-->
		<!--<ion-infinite-scroll ng-if="noMore" on-infinite="loadMoreGoods()" distance="1%" icon="" immediate-check="false">
		</ion-infinite-scroll>-->

	</ion-content>

</ion-view>