<ion-view view-title=" " hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">扫码支付</h1>
		<!--<div class="buttons">
			<button class="button  button-clear" ui-sref='user.myBank'>银行卡</button>
		</div>-->
	</ion-header-bar>
	<ion-content class=" rechargepage" >
		<!--<h4>扫码支付</h4>-->
	 <img ng-src="{{balancepayinfo.url}}"/>
	 <p>
	 	微信必须用另一部手机扫码，不能扫相册中的二维码，否则无法充值。
	 </p>
	 <ul>
	 	<li>
	 		<span>1.</span>支付宝充值，长按二维码，保存图像或对此屏幕截图
	 	</li>
	 	<li>
	 		<span>2.</span>打开支付宝扫一扫。
	 	</li>
	 	<li>
	 		<span>3.</span>点击扫码界面上“相册”两个字，找到步骤一保存的图片。
	 	</li>
	 	<li>
	 		<span>4.</span>扫码后按页面提示完成支付。
	 	</li>
	 </ul>
			  <!--<ion-label></ion-label>-->
	</ion-content>
</ion-view>

