<ion-view view-title="支付" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack(-2)">返回</button>
		</div>
		<h1 class="title">支付</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal online_pay">
		<div class="co-pay">

			<ul >
				<li class="flex" ng-click="selectPayType('wechat')">
					<img src="img/wechat_pay.png" />
					<div class="co-pay-info flex_1">
						<h4>微信支付</h4>
						<p>亿万用户选择，更快更安全</p>
					</div>
					<i class="iconfont" ng-class="{'icon-roundcheckfill checked': payType == 'wechat', 'icon-round': payType != 'wechat'}"></i>
				</li>
				<li class="flex" ng-click="selectPayType('alipay')">
					<img src="img/ali_logo.png" />
					<div class="co-pay-info flex_1">
						<h4>支付宝</h4>
						<p>数亿用户都在使用，安全可托付</p>
					</div>
					<i class="iconfont " ng-class="{'icon-roundcheckfill checked': payType == 'alipay', 'icon-round': payType != 'alipay'}"></i>
				</li>
				<!--<li class="flex" ng-click="selectPayType('ccb')">
					<img src="img/ccb_pay.png" />
					<div class="co-pay-info flex_1">
						<h4>中国建设银行</h4>
						<p>数亿用户都在使用，安全可托付</p>
					</div>
					<i class="iconfont " ng-class="{'icon-roundcheckfill checked': payType == 'ccb', 'icon-round': payType != 'ccb'}"></i>
				</li>-->
				<li class="flex" ng-click="selectPayType('qrcode')" ng-if='showrecharge'>
					<img src="img/paycodelogo.png" />
					<div class="co-pay-info flex_1">
						<h4>扫码付款</h4>
						<p>数亿用户都在使用，安全可托付</p>
					</div>
					<i class="iconfont " ng-class="{'icon-roundcheckfill checked': payType == 'qrcode', 'icon-round': payType != 'qrcode'}"></i>
				</li>
			</ul>
		</div>

		<button  class="button button-block button-calm zl_btn_center" style="margin-top: 40px;"
			ng-click="orderConfirm()">确定</button>
		<!--<div class="qrcodetype">
			<div>
				<a ng-click='codetype("wechat")'>微信</a>
			<a ng-click='codetype("alipay")'>支付宝</a>
			</div>
		</div>-->
	</ion-content>
</ion-view>