<ion-view view-title="客服中心" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">客服中心 </h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<div class="serve-center">
			<!--<a href="tel:0755-89878780"></a>-->
             <i class="icon ion-ios-telephone"></i>
             <p>咨询电话：<p>{{serveInfo||'0755-89878780'}}</p></p>
			<!--<ion-label></ion-label>-->
			<!--<a class="item item-icon-left item-icon-right" href="#/my/profit">-->
			<!--<i class="icon ion-social-yen"></i>-->
			<!--累计收益-->
			<!--<span class="item-note">-->
			<!--0.00-->
			<!--</span>-->
			<!--<i class="icon ion-ios-arrow-right"></i>-->
			<!--</a>-->
			<ion-label></ion-label>
		</div>
	</ion-content>
</ion-view>