<ion-view view-title="股权兑换" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack(-2)">返回</button>
		</div>
		<h1 class="title">股权兑换</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal stockapplypage">

		<ul>
			<li><span>当前{{globalInfo.nounInfo.LOVE}}：</span>{{stockinfo.love||102}}</li>
			<li style="border: none;"><span>申请股数：</span>
				<input type="text" name="" id="" value="" placeholder="限整百兑换" ng-model='stockapply.nums' />
			</li>
			<li class="applynum">
				<span>申请股数：</span> 1股={{}}{{globalInfo.nounInfo.LOVE}}
			</li>
			<li><span>将扣减{{globalInfo.nounInfo.LOVE}}：</span>{{stockapply.nums*stockapply.prop||1}}</li>
			<li>
				<a ng-click="getCode()" ng-disabled='getCaptchaSuccess'>
					<span ng-if="!getCaptchaSuccess">获取验证码</span>
					<span ng-if="getCaptchaSuccess">重新获取{{stockapply.number}}s</span>
				</a>
				<span>手机验证码：</span><input type="text" placeholder="请输入验证码" ng-model='stockapply.code' />
			</li>

		</ul>

		<button class="button button-block button-calm zl_btn_center" style="margin-top: 40px;" ng-click="Confirm()">申请兑换</button>
		<!--<div class="qrcodetype">
			<div>
				<a ng-click='codetype("wechat")'>微信</a>
			<a ng-click='codetype("alipay")'>支付宝</a>
			</div>
		</div>-->
	</ion-content>
</ion-view>