<ion-modal-view>
    <ion-view view-title="我的地址" hide-nav-bar="true">
        <ion-header-bar class="bar-calm header-back">
            <div class="buttons">
                <button class="button iconfont icon-back1 button-clear" ng-click="area.hide();">返回</button>
            </div>
            <h1 class="title">我的地址</h1>
        </ion-header-bar>
        <ion-content class="bodybg-normal" style='background: #fff;'>
            <div class="ss-my-address" ng-if="addressType == 1">
                <ul>
                    <li ng-repeat="(x, y) in areaList" ng-click="selectArea1(x)">{{y.title || y}}</li>
                </ul>
            </div>
            <div class="ss-my-address" ng-if="addressType == 2">
                <ul>
                    <li ng-repeat="(x, y) in areaList" ng-click="selectArea2(x)">{{y.title || y}}</li>
                </ul>
            </div>
        </ion-content>
    </ion-view>
</ion-modal-view>