<ion-view view-title="公益商城简介" hide-nav-bar="true">
    <ion-header-bar class="bar-calm header-back poorBar">
        <div class="buttons">
            <button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
        </div>
        <h1 class="title">公益商城简介</h1>
    </ion-header-bar>
    <ion-content class="poorContent poorIntro">
<!--        <div class="swiper-container" style="width:100%">-->
<!--            <div class="swiper-wrapper">-->
<!--                <div class="swiper-slide" style="padding:0">-->
<!--                    <img src="http://img.zcool.cn/community/01c70757c000b50000012e7e3b1d40.jpg@900w_1l_2o_100sh.jpg" alt="">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<div class="common-empty" ng-if='info==""'>
	暂无简介...
</div>
<div class="pi-cnt" style="margin-top: 20px;">
        </div>
        <!--<div class="pi-cnt" ng-bind-html='info'>
            这是一个公益商城，帮助弱小，厚德博爱
        </div>-->
    </ion-content>

</ion-view>
