<ion-view view-title="我要捐钱" hide-nav-bar="true">
    <ion-header-bar class="bar-calm header-bac45k poorBar">

        <h1 class="title">我要捐钱</h1>
    </ion-header-bar>
    <ion-content class="poorContent poorDonatePay" style="background:#EEEEEE">
        <div class="yd-donate-count real-count s-apply-c bgwhite" style="border-bottom:4px solid #eee">
            <div class="prp-info flex" ng-if="reciName" ui-sref="poorson.list({fromPage:'money'})">
                <div class="flex_1">
                    <p>受助人: <span ng-bind="reciName">15515612523</span></p>
                    <p>收款账户: <span ng-bind="reciAccount">你好</span></p>
                </div>
                <div style="display:flex;align-items:center">更改<i class="icon ion-ios-arrow-right right-color" style="margin-left:10px;"></i></div>
            </div>
            <ul>
                <li ng-if="!reciName" ui-sref="poorson.list({fromPage:'money'})">
                    <div>选择受助人：<span></span><i class="iconfont icon-right" style="float:right"></i></div>
                </li>
                <li>
                    <label>捐赠金额/元：</label>
                    <input type="text" placeholder="请输入您需要捐助的金额" ng-model="info.money" style="padding-left:85px;">
                </li>
                <li>
                    <div class="flex beanType" ng-click="showDonate()">
                        <p class="flex_1">捐款方式：</p>
                        <span>{{typeText|| '请选择'}}<i class="iconfont icon-right" style="color:#000"></i></span>
                    </div>


                    <!--<div ng-click="showDonate()">捐款方式：<span ng-bind="typeText"></span><i class="iconfont icon-right" style="float:right"></i></div>-->
                </li>
                <li ng-click="showRelation = !showRelation">
                    <div class="flex beanType">
                        <p class="flex_1">您与受助人的关系</p>
                        <span>{{relationInfo.title || '请选择'}}<i class="iconfont icon-unfold" ng-if="showRelation" style="color:#000"></i><i class="iconfont icon-right" ng-if="!showRelation" style="color:#000"></i></span>
                    </div>
                    <div class="bean" ng-if="showRelation">
                        <p ng-click="relationType(item.id,item.title)" ng-repeat="item in relation">{{item.title}}</p>
                    </div>
                </li>
                <li>
                    <textarea placeholder="给ta鼓励留言，50字以内" maxlength="50" style="width:100%;min-height:100px;" ng-model="info.leaveMes"></textarea>
                </li>
            </ul>

        </div>
        <div style="text-align:left;background:#eee;padding:10px 10px 20px 10px;font-size:12px;">
            <div style="margin-bottom:5px;">
                <div class="agree"><i class="ion-android-checkbox" ng-click="authAgree()"
                        style="font-size:19px;margin-right:5px;color:gray;position:relative;top:1px;"></i>确认即表示同意<span class="positive"
                        ng-click="showShopAgreement()">【捐助协议】</span></div>
            </div>
        </div>
        <div>
            <div class="prp-btn" ng-click="next()">下一步</div>
        </div>

        <div class="mask" ng-if="donateModal">
            <div class="prp-mask bgwhite">
                <div class="prp-mask-top">
                    <span class="prp-cancel" ng-click="showDonate(1)">取消</span>
                    <span class="prp-sure" ng-click="showDonate(2)">确定</span>
                </div>
                <div class="prp-mask-bottom">
                    <ul>
                        <li class="bd1" ng-click="active(1)" ng-class="{'on': way == 1}">
                            <div>方式一:捐款获5倍爱心</div>
                            <p>受助人获得捐助金额x5倍爱心价值；捐助人获得捐助金额*2倍爱心价值</p>
                        </li>
                        <li class="bd1" ng-click="active(2)" ng-class="{'on': way == 2}">
                            <div>方式二:直接捐助</div>
                            <p>捐助款直接进入基金会账户，由基金会拨款至受助人账户</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>

        </div>
    </ion-content>
    <!--<ion-footer-bar class="rec-know-btn">
        <button ui-sref='poorson.recreason'></button>
    </ion-footer-bar>-->
</ion-view>