<ion-view view-title="捐助排行榜" hide-nav-bar="true">
    <ion-header-bar class="bar-calm header-back poorBar">
        <div class="buttons">
            <button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
        </div>
        <h1 class="title">捐助排行榜</h1>
        <div class="buttons">
            <button class="button button-clear" ui-sref='poorson.donatedetail'>捐助明细</button>
        </div>
    </ion-header-bar>
    <ion-content class="poorContent" style="background:#EEEEEE">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <div class="common-empty" ng-if="orderEmpty">什么也没有...</div>
        <div class="poor-donate-rank bgwhite">
            <div>
                <div style="border-bottom: 1px solid #eee;" ng-repeat="item in rank">
                    <div class="heart_passer_bottom flex">
                        <i ng-if="($index + 1) == 1"><img src="img/poor/i-gold.png" alt=""></i>
                        <i ng-if="($index + 1) == 2"><img src="img/poor/i-silver.png" alt=""></i>
                        <i ng-if="($index + 1) == 3"><img src="img/poor/i-copper.png" alt=""></i>
                        <div class="bottom_left">
                            <img ng-src="{{item.avatar ||'img/headimg.jpg'}}" alt="avatar">
                        </div>
                        <div class="bottom_middle flex">
                            <div class="bottom_middle_name  text-overflow_1" ng-bind="item.nickname || '无'"></div>
                        </div>
                        <div class="bottom_right flex_1">
                            <div class="bottom_right_mobile">累计捐助{{item.giveMoney}}元</div>
                            <div class="bottom_right_time">已捐助<span class="span-color" ng-bind="item.givePeople">25</span>人</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <ion-infinite-scroll ng-if="!noMore" on-infinite="loadMore()" distance="1%" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>