<ion-view view-title="商品详情" hide-nav-bar="true">
    <ion-header-bar class="bar-calm header-bac45k poorBar">
        <div class="buttons">
            <button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
        </div>
        <h1 class="title">商品详情</h1>
    </ion-header-bar>
    <ion-content class="bodybg-normal poorContent PoorGoodDetail">
        <ion-slide-box delegate-handle="slideimgs" show-pager="true" does-continue='true' auto-play="true">
            <ion-slide does-continue='true' ng-repeat="x in goodsdetail.thumbs">
                <img src="{{x || 'img/wuimg.png'}}" width="100%" class="banner-img">
            </ion-slide>
        </ion-slide-box>
        <div class="pgd-info bgwhite"> 
            <div class="pgd-info-title" ng-bind="goodsdetail.goodsName">葡萄发的卡分类的考试及分类考试代收款</div>
            <div class="pgd-info-price" ng-bind="goodsdetail.spe_price | currency:'￥'">￥76</div>
            <div class="pgd-info-other">
                <span class="pgd-info-brand">品牌</span>
                <span class="pgd-info-express" >快递:<i ng-bind="goodsdetail.express"></i>元</span>
                <span class="pgd-info-heart">爱心: <i ng-bind="goodsdetail.memberHeart"></i></span>
            </div>
        </div>
        <div class="yd-donate-count real-count s-apply-c bgwhite" style="border-bottom:10px solid #eee">
            <ul>
                <li style="border-bottom:none;margin-bottom:0" ng-click="addCarts(1)">
                    <div>商品属性<span></span><i class="icon ion-ios-arrow-right right-color" style="float:right;font-size:20px;"></i></div>
                </li>
            </ul>

        </div>
        <div class="bgwhite" ng-if='goodsdetail.info!=""'>
            <h4 style="text-align:center;padding:10px;margin:0">图文详情</h4>
            <div ng-bind-html='goodsdetail.info'></div>
        </div>
    </ion-content>
    <div class="goodsinfo-bottom">
        <a  style="width:21%;" ng-click="contact()">
			<i class="iconfont icon-geren2"></i>
			<span>客服</span>
		</a>
        <a ui-sref='poorson.cart'  style="width:21%;">
			<i class="icon ion-ios-cart-outline"></i>
			<span>购物车</span>
		</a>
        <button ng-click="addCarts(1)" style="background: #F19465;">加入购物车</button>
        <button ng-click="addCarts(2)" style="background: #FF5400;">立即捐赠</button>
    </div>
    
    	<div style='width:100vw;height:100vh;position:fixed;background: rgba(0,0,0,0.3);top:0;left:0'  ng-if="showCart">
		<div style="position: fixed;bottom: 5px;width: 100%;">
			<div class="attribute-goodsname" style="background: #fff;width: 100%;" class="addcarts">
					<img ng-src="{{goodsdetail.thumb}}" />
					<div>
						<p>￥
							<span ng-if='good.price!=null&&good.price!=""&&goodPrice'>{{good.price}}</span>
							<span ng-if='good.price==null||good.price==""||!goodPrice'>{{goodsdetail.spe_price}}</span>
							<i class="icon ion-close-circled" ng-click="hideCart()"></i></p>
						<h5>库存{{good.count}}{{goodsdetail.unit}}</h5>
						
						<h5 ng-if="attributetype">{{goodcart.goodbute1}}{{goodcart.goodbute2}}</h5>
						<h5 ng-if="!attributetype&&goodsdetail.attrdata!=''">选择属性</h5>
					</div>
				</div>
				<div class="attribute-body" ng-if="goodsdetail.attrdata!=''">
					<div class="attribute-common attribute1" ng-if="goodsdetail.attrdata!=[]">
						<h5>{{goodsdetail.attr[0].attrName}}</h5>
						<ul>
							<li ng-repeat='item1 in goodsdetail.attr[0].data' id='{{item1}}' ng-class="{'selectstyle':clickstyle1==item1}" ng-click='changebute1(item1)'>{{item1}}</li>
						</ul>
					</div>
					<div class="attribute-common attribute2" ng-if="goodsdetail.attr[1].attrName!=''">
						<h5>{{goodsdetail.attr[1].attrName}}</h5>
						<ul >
							<li ng-repeat='item2 in goodsdetail.attr[1].data' id='{{item2}}' ng-class="{'selectstyle':clickstyle2==item2}" ng-click='changebute2(item2)'>{{item2}}</li>
						</ul>
					</div>
				</div>
				<div class="attribute-buynum">
						<span>购买数量</span>
						<div class="attribute-nums">
							<i class="iconfont icon-move" ng-click="minusNum()"></i>
							<input type="text" ng-model="buyNum">
							<i class="iconfont icon-add" ng-click="addNum()"></i>
						</div>
					</div>
		</div>
		<button class="add-sure" ng-click="addgoods()" ng-if='addtype'>加入购物车</button>
		<button class="add-sure" ng-click="buygoods()" ng-if='!addtype'>立即捐赠</button>
	</div>
</ion-view>