<ion-view title="商家中心" hide-nav-bar="true" hide-back-button="true">

	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ui-sref="tab.tcmytc">返回</button>
		</div>
		<h1 class="title">商家中心</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<div class="yd-apply-shop flex">
			<img ng-src="{{shopsInfo.logo || 'img/avatar.jpg'}}">
			<div class="flex_1 shopr">
				<p ng-bind="shopsInfo.title"></p>
				<p ng-bind="shopsInfo.birthInfo"></p>
				<p >我的单元：{{shopsInfo.shopUnit||0}}</p>
			</div>
		</div>
		<div class="my-bottom-nav">
			<ul class="clearfix com">
				<li ui-sref="shops.qrcode({spid:globalInfo.user.isShop})">
					<i class="iconfont icon-erweima-copy assertive" ></i>
					<p>商家二维码</p>
				</li>
				<li class="shopcenter-type">
					<p>订单记录</p>
				</li>
				<li ui-sref="shops.orderList({type:'shops',orderType:0})">
					<i class="iconfont icon-dingdan assertive"></i>
					<p>线上订单</p>
				</li>
				<li ui-sref="shops.scanOrder({type:'shops',orderType:1})">
					<i class="iconfont icon-fukuanma assertive"></i>
					<p>扫码付款</p>
				</li>
				<li ui-sref="shops.reportOrder({type:'shops',orderType:2})">
					<i class="iconfont icon-dingdan3 assertive"></i>
					<p>扫码报单</p>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
