<ion-view title="订单评价" hide-nav-bar="true" hide-back-button="true">

	<ion-header-bar class="bar-calm header-back" style='border: none;'>
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">编写评价</h1>
	</ion-header-bar>

	<ion-content class="bodybg-normal">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
		<div class="shop-order-evaluate" ng-repeat='item in evaluategoods' id='judge{{item.goodsId}}' path='{{item.goodsId}}'>
			<h4><img ng-src="{{item.thumb}}" alt="" /><span>{{item.goodsName}}</span></h4>
			<div class="evaluate-head">
				<div class="default-demo"></div>
					<!--<div class="middle">
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 1 || goods.followXin == 2 || goods.followXin == 3 || goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 2 || goods.followXin == 3 || goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 3 || goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 5"></i>
					</div>-->
			</div>
			<div class="evaluate-content">
				<textarea name="evaluate" placeholder="宝贝如何，来说说它的优点和不足吧..."></textarea>
			</div>
			<!--<div class="evaluate-box">
				<input type="checkbox"/><span>匿名评价</span>
			</div>-->
		</div>
		</div>
		<button class="button button-block button-calm " ng-click='satrteval()'>提交</button>
		<!--<button class="button button-block button-calm " ng-disabled='orderInfo.orderStatus != 0' ng-class="{'light': orderInfo.orderStatus != 0}">提交</button>
		-->
		<!--<ion-infinite-scroll ng-if="!noMore" on-infinite="loadMore()" distance="-1%" immediate-check="false">
		</ion-infinite-scroll>-->
	</ion-content>
</ion-view>