<ion-view view-title="商家推荐" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">商家推荐 </h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal shopintroduce">
		<h5>商家推荐</h5>
		<p>就是输入您需要推广的商品、套餐、菜式等，让用户了解您店铺的特色商品，为用户消费提供决策。</p>
		<textarea name="" rows="" cols="" placeholder="请输入你的商家推荐信息" style="border: none;"></textarea>
	</ion-content>
	<footer class="common-footer">保存</footer>
</ion-view>

