<ion-view view-title="订单详情" hide-nav-bar="true">
	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">{{pageData.shopsList[0].categoryName}}</h1>
		<div class="buttons" ng-if="orderInfo.orderStatus == 0 && type == 'shops'" ng-click="rejectContent()">
			<button class="button button-clear">拒绝</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>

		<div class="home-shops-list">
			<ul class="clearfix">
				<li class="flex" ng-repeat="goods in pageData.shopsList"  ui-sref="shops.shopsInfo({spid:goods.id})">
					<img ng-src="{{goods.logo || 'img/wuimg.png'}}">
					<div class="info clearfix flex_1">
						<h3 class="title flex"><p class="text-overflow_1" ng-bind="goods.title"></p><i>商</i></h3>
						<div class="middle">
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 1 || goods.followXin == 2 || goods.followXin == 3 || goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 2 || goods.followXin == 3 || goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 3 || goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 4 || goods.followXin == 5"></i>
							<i class="iconfont icon-favorfill" ng-if="goods.followXin == 5"></i>
							<span>{{goods.followNum}}赞</span>
						</div>
						<div class="bottom flex">
							<span class="indus">{{goods.categoryName}}</span>
							<p class="s-addrerss text-overflow_1 flex_1">{{goods.birthInfo}}</p>
							<span class="distance">{{goods.distance}}</span>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<ion-infinite-scroll ng-if="noMore && !refreshing" on-infinite="loadMoreGoods()" distance="-1%" icon="" immediate-check="false">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
