<ion-view view-title="提现申请" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">提现申请</h1>
		<!--<div class="buttons">
			<button class="button button-clear" ui-sref="user.repoList">提现记录</button>
		</div>-->
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<!--<div class="yd-donate-text padding" ng-bind-html="repoInfo.message"></div>-->
		<div ng-if='selectedType==2'>
		<!--<div class="yd-donate-text padding" ng-bind-html="repoInfo.message"></div>-->
		<div class="yd-add-bank" ui-sref="user.myBank({from:'shoprepo'})" ng-if="!repoInfo.bankInfo">
			<i class="ion-ios-plus-outline"></i>
			<p>点击添加银行卡</p>
		</div>
		<ion-list ui-sref="user.myBank({from:'shoprepo'})" ng-if="repoInfo.bankInfo">
			<ion-item class="item-avatar item-icon-right">
				<img src="img/wuimg.png">
				<h3>{{repoInfo.bankInfo.bankName}}</h3>
				<p>{{repoInfo.bankInfo.bankCard}}</p>
				<i class="icon ion-ios-arrow-right right-color"></i>
			</ion-item>
		</ion-list>
		</div>
		<div class="yd-donate-count real-count">
			<ul>
				<li class="repo" >
					<label>商家负责人</label>
					<input type="text" placeholder="请输入名字" ng-model="repoInfo.cname">
				</li>
				<li class="repo" >
					<label>联系电话</label>
					<input type="text" placeholder="请输入电话" ng-model="repoInfo.mobile">
				</li>
				<li ng-click="showBean = !showBean">
					<div class="flex beanType">
						<p class="flex_1">提现类型</p>
						<span>{{showDropType}}<i class="iconfont icon-unfold right-color" ng-if="showBean"></i><i class="iconfont icon-right right-color" ng-if="!showBean"></i></span>
					</div>
					<div class="bean" ng-hide="!showBean">
						<p ng-click="withType(2,'银行卡')">银行卡</p>
						<p ng-click="withType(1,'支付宝')">支付宝</p>
					</div>
				</li>
				<li class="flex">
					<p class="flex_1">可提金额</p>
					<span>{{repoInfo.priceNum}}</span>
				</li>
				<li class="repo" ng-if='selectedType==1'>
					<label>支付宝账号</label>
					<input type="text" placeholder="请输入账号" ng-model="repoInfo.alipayAccount">  
				</li>
				<li class="repo" ng-if='selectedType==1'>
					<label>支付宝姓名</label>
					<input type="text" placeholder="请输入姓名" ng-model="repoInfo.alipayName">  
				</li>
				
				<li class="repo">
					<label>提现金额</label>
					<input type="number" placeholder="请输入数量" ng-model="repoInfo.price">
				</li>
				<!--<li class="repo">
					<label>支付密码</label>
					<input type="password" placeholder="请输入支付密码" ng-model="repoInfo.passwords">
				</li>-->
				<!--<li class="flex" ng-if='globalInfo.user.isShop==0&&globalInfo.user.isAgent==0'>
					<p class="flex_1">注：您不是商家，需将余额兑换到商家账号后提现</p>
					<span>{{repoInfo.priceNum}}</span>
				</li>-->
			</ul>
			<div class="padding sure-btn">
				<button class="button button-block button-calm" ng-click="submit()">确定</button>
			</div>
		</div>
	</ion-content>
</ion-view>

