<ion-view title="商家位置" hide-nav-bar="true" hide-back-button="true">

	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ui-sref='user.role'>返回</button>
		</div>
		<h1 class="title">品牌商家，不包含个人商家</h1>
		<!--<div class="buttons">
			<button class="button button-clear iconfont ion-android-navigate" ng-click="showAddress(locationInfo.locationUrl)"> 导航</button>
		</div>-->
	</ion-header-bar>
	<ion-content >
		<div id="shoprolrMap">
		</div>

	</ion-content>
</ion-view>